*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
}

table {
    width: 1000px;
    margin: 100px auto;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 1px #ccc;
}

table tr td, th{
    padding: 5px 10px;
    border: 1px solid #eee;
}

table button {
    box-shadow: 0 0 1px #333;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eee;

}
